.grid{
  margin: 0px auto;
  /* background-color: #eb8989; */
  width:100%;
  display: grid;
  border: 1px solid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows:repeat(2,1fr);
  grid-gap: 30px;
  padding: 2rem;
  box-sizing: border-box;
  /* align-content: center; */
}



.grid > article{
  border: 1px solid;
  text-align: center;
  width:80
  margin:auto;
  /* padding: 1rem; */

}

.grid>article img{
  width: 100%;
}

.main-2{
  padding: 1rem;
  gird-area: main-2;
}

.text{
  /* padding: 0 1rem; */
  box-sizing: border-box;
}

.text >h3{
  text-transform: uppercase;
}

.author{
  display: flex;
  justify-content: space-around;
  /* max-height: 60px; */
}
.author-name{
  flex: 0 1 70%;
  background-color: rgb(179, 238, 148);
}

.circle{
  flex: 0 1 15%;
  /* background-color: rgb(204, 96, 200); */
}

.circle img{
  width:100%;
  border-radius: 50%;
}



@media (max-width: 768px){
  .grid{
    grid-template-columns: repeat(2, 1fr);

  }
}
@media (max-width: 500px){
  .grid{
    grid-template-columns: repeat(1, 1fr);
  }
  .grid>article{
    text-align: center;
  }
}
