.container{
  width:100%;
  padding: 2rem;
  box-sizing: border-box;
  background-color: #fff;
}

.row{
  /* width:80%; */
  margin: auto;
  display:flex;
  flex-wrap:wrap;
  box-sizing: border-box;
  /* background-color: #f9b5b5; */
  padding: 1rem;

}

.video-recommand{
  font-size: 0px;
  border: 0.2px solid;
  /* background-color: #ffd2d2; */
  /* padding: 1rem; */
  margin-bottom: 1rem;
  box-sizing: border-box;
  /* border: 1px solid; */
  box-shadow: 0 1px 8px rgba(0,0,0,0.3);
   /* -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1); */
  transition: all 0.3s ease-in-out;
}

.video-recommand:hover{
  box-shadow: 0 1px 50px rgba(0,0,0,0.5);
  /* opacity: 0; */
  transform: scale(1.05, 1.05);
  /* transition: opacity 0.6s ease-in-out; */
}


.video-recommand img{
  width:100%;
}

.video-title{
  display: flex;
  flex-wrap: nowrap;
  /* flex:100%; */
  /* padding: 1rem; */
  box-sizing: border-box;
  align-items: flex-start;

}

.video-circle{
  flex:0 0 20%;
  /* height:50%; */
  /* min-width: 80px; */
  /* padding-top: 1rem; */
  /* padding-left: 1rem; */
  box-sizing: border-box;
}





.circle img{
  width:50px;
  height:50px;
  /* padding: 0.3rem; */
  border-radius: 50%;

  /* margin-right:auto; */



}

.video-circle .circle{
  display: flex;
  justify-content: center;
  /* flex: 0 1 30%; */
  /* width:60%; */
  /* padding-top: 100%; */
  /* background-color: #a74040; */
  padding: 1rem;
  /* border-radius: 50%; */
  /* margin-left: auto; */
}

.video-name{
  display: flex;
  flex-direction: column;
  /* background-color: #bbb; */
  padding: 1rem;
  flex:1 1 100%;
  align-items: flex-start;
  box-sizing: border-box;
  flex-wrap: wrap;
  font-size: 1rem;
  font-weight: bold;
  /* margin-left: 0.1rem; */

}

.video-date{

  margin-top: 0.6rem;
  /* line-height: 0.5rem; */
}

.video-date h4{
  margin-top: 0.6rem;
  font-weight:normal;
}

.title span{
  background-color: #d4053d;
  padding: 1rem;
  border-radius: 20px;
  display: inline-block;
  text-transform: uppercase;
  font-size: 2rem;
  color: white;
}
